/* === Gruvbox Medium === */
@define-color bg        #282828;
@define-color bg-alt    #32302f;
@define-color fg        #d4be98;
@define-color yellow    #d8a657;
@define-color blue      #7daea3;
@define-color aqua      #89b482;
@define-color red       #ea6962;
@define-color border    #3c3836;

/* === Bar === */
* {
  font-family: monospace;
  font-size: 14px;
}

window#waybar {
  background: @bg;
  color: @fg;
  box-shadow: inset 0 -1px 0 @border;
}

/* === General Modules === */
#workspaces,
#clock,
#battery,
#bluetooth,
#tray,
#custom-ip,
#custom-separator {
  padding: 0 6px;
  background: transparent;
}

/* Workspaces */
#workspaces button {
  border-radius: 0;
  padding: 0 6px;
  color: #d4be98; /* normal fg */
  border-bottom: 2px solid transparent;
}

/* Active workspace */
#workspaces button.active {
  color: #d8a657; /* yellow */
  border-bottom: 2px solid #d8a657; /* underline */
}

/* Urgent workspace */
#workspaces button.urgent {
  color: #ea6962;
  /* border-bottom: 2px solid #ea6962;  optional underline */
}


/* === Clock === */
#clock {
  color: @aqua;
  padding-bottom: 2px;
}

/* === Right side modules === */
#custom-ip {
  color: @blue;
}

#bluetooth {
  color: @aqua;
}

/* === Battery states (Gruvbox Medium) === */

/* Normal */
#battery {
  color: #d8a657; /* yellow */
}

/* Charging / plugged in */
#battery.charging,
#battery.plugged {
  color: #89b482; /* green/aqua */
}

/* Low battery */
#battery.warning {
  color: #e78a4e; /* orange */
}

/* Critical battery */
#battery.critical {
  color: #ea6962; /* red */
}


/* === Separator === */
#custom-separator {
  color: @border;
}

/* === Tray === */
#tray {
  padding-right: 8px;
}

#cpu {
  color: @aqua ; /* normal Gruvbox blue */
}

#cpu.warning {
  color: #ea6962; /* red when CPU > 80% */
}

