@define-color bg    #282828; 
@define-color fg    #ebdbb2; 
@define-color blk   #282828; 
@define-color red   #fb4934; 
@define-color grn   #b8bb26; 
@define-color ylw   #fabd2f; 
@define-color blu   #83a598; 
@define-color mag   #d3869b; 
@define-color cyn   #8ec07c; 
@define-color brblk #928374; 
@define-color white #ebdbb2; 

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
}
#workspaces button.active {
    color: @blu;
    border-bottom: 3px solid @mag;
}
#workspaces button.hidden {
    color: @white;
}
#workspaces button.hidden.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#battery {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#pulseaudio {
    color: @ylw;
    border-bottom: 4px solid @ylw
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @red;
    border-bottom: 4px solid @red;
}

#network.disconnected {
    background-color: @red;
}

#tray {
    background-color: #2980b9;
}

